.button {
	    -fx-text-fill: white;
    -fx-background-color :linear-gradient(to top left, #004d7a,#00bf72);
    -fx-background-radius :  35 35 35 35;
	-fx-font-weight: bold
}
.button:hover {
    -fx-background-color :linear-gradient(to top left, #00bf72, #004d7a);
    -fx-background-radius :  35 35 35 35;
    	-fx-font-weight: bold
}
.button:pressed {
    -fx-background-color :linear-gradient(to top left, #004d7a, #00bf72);
    -fx-background-radius :  35 35 35 35;
    -fx-font-weight: bold
}
.combo-box{
    -fx-border-color:#00bf72;
    -fx-border-style:solid;
    -fx-border-width:2;
}
.combo-box .arrow{
    -fx-background-color:#2478E9;
}
.combo-box .arrow-button{
    -fx-background-color:red;
    -fx-border-style:none;
}
.combo-box .arrow-button{
    -fx-background-color: white;
}
.combo-box .list-cell{
    -fx-background-color:white;
}


.root {
    background_color: #f3f3f3;
    scroll_pane_background_color: background_color;
    dialog_background_color: white;
    tab_pane_background_color: #f3f3f3;
}


.root {
    /* Root variables */
    accent_color: #FFCE00;
}
/* To be used in "background" Panes */
.background{
    -fx-background-color: #f3f3f3;
}

.header{
    -fx-text-fill: black;
}

.item-title{
    -fx-text-fill: black;
}

.table-view {
    table_background_color: white;
    table_view_border_color: #e9e9e9;

    alternate_row_color: #f0f0f0;

    text_color: #111;
    hover_text_color: #111;
    selected_text_color: #111;
    selected_unfocused_text_color: #111;

    sort_arrow_color: #111;
    show_hide_image_color: sort_arrow_color;
}

/* Check Box Table Cell */
.check-box-table-cell {
    table_check_box_cell_box_background_color: transparent;
    table_check_box_cell_box_border_color: #111;
    table_check_box_cell_mark_color: #111;
}
.list-view, .table-view, .tree-view, .tree-table-view {
    cell_hover_color: #dadada;
    cell_pressed_color: #c2c2c2;

    cell_selected_unfocused_color: cell_hover_color;

    cell_selected_color: derive(accent_color, 90%);
    cell_selected_hover_color: derive(accent_color, 70%);
    cell_selected_pressed_color: derive(accent_color, 60%);
}

/*******************************************************************************
 *                                                                             *
 * Table View                                                                  *
 *                                                                             *
 ******************************************************************************/

.table-view{
    -fx-cell-focus-inner-border: cell_selected_color; /* focused */
    -fx-background-color: transparent, transparent;
    -fx-border-color: table_view_border_color;
    -fx-padding: 0;
}

.table-view .column-header {
    -fx-padding: 0em 0em 0em 1em;
}

.table-view .column-header .label {
    -fx-padding: 0.666666em 2em 0.666666em 0; /* 8 24 8 0 */
}

.table-cell {  
	-fx-padding: 0.5em 1em 0.4em 1em; /* 10 24 6 12 */
} 

/****** Column Header ******/
.table-view .column-header:last-visible {
    -fx-border-color: transparent transparent table_view_border_color transparent;
}

.table-view .filler {
    -fx-border-color: transparent transparent table_view_border_color transparent;
}

.table-view .column-header .label{
    -fx-text-fill: text_color;
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 1em;  /* 12 */
    -fx-alignment: center;
}

.table-view .column-header:hover{
    -fx-background-color: cell_hover_color;
}

.table-view .column-header:hover .label{
    -fx-text-fill: hover_text_color;
}

.table-view .column-header-background {
    -fx-background-color: table_background_color;
}

.table-view .column-header, .table-view .filler{
    /* borders around table header */
    -fx-background-color: table_background_color;
    -fx-border-color: transparent transparent table_view_border_color transparent;
}

.table-view .filler {
    -fx-background-color: transparent, table_background_color;
    -fx-background-insets: 0 0 0 0, 1 0 1 0;
}

.table-view .column-header.table-column-selected {
    -fx-background-color: table_background_color;
}

/* Header Sort Arrows */
/* There can be nested column headers inside other nested column so this declaration is a bit loose. Not sure we can be
totally specific (always using direct child) and cover all cases, which would be more performant. */
.table-view > .column-header-background .nested-column-header > .column-header > GridPane > .arrow {
    -fx-padding: 0.5em 0.416667em 0.5em 0.416667em; /* 6 5 6 5 */
    -fx-shape: "M 15 4 L 15 24.0625 L 8.21875 17.28125 L 6.78125 18.71875 L 15.28125 27.21875 L 16 27.90625 L 16.71875 27.21875 L 25.21875 18.71875 L 23.78125 17.28125 L 17 24.0625 L 17 4 Z ";
    -fx-background-color: sort_arrow_color;
}
.table-view > .column-header-background .nested-column-header > .column-header > GridPane {
    -fx-background-color: transparent;
}

.table-view > .column-header-background .nested-column-header > .column-header > GridPane > .sort-order-dots-container {
    -fx-background-color: transparent;
}

/****** Table View "body"  ******/

.table-cell {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 1.2em;  /* 12 */
    -fx-alignment: center;

    -fx-border-width: 0;
}

.table-cell:last-visible {
    -fx-border-color: transparent transparent transparent transparent;
}

.table-cell:filled:hover {
    -fx-background-color: cell_hover_color;
}

.table-cell .text {
    -fx-fill: text_color;
}

.table-cell:hover .text {
    -fx-fill: hover_text_color;
}

/* hover row (row selection mode) */
.table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:hover {
    -fx-background-color: cell_hover_color;
}

/* Selected cells and rows */
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected .text,
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected .table-cell .text {
    -fx-fill: selected_text_color;
}

/* - when focused (with cell selection mode) */
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected .table-cell {
    -fx-background-color: cell_selected_color;
    -fx-border-width: 0;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected:hover,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected:hover .table-cell{
    -fx-background-color: cell_selected_hover_color;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected > .text,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected .table-cell > .text {
    -fx-fill: selected_text_color;
}

/* -- when row selection mode */

.table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected {
    -fx-background-color: cell_selected_color;
}

.table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected:hover {
    -fx-background-color: cell_selected_hover_color;
}

/* - when not focused */
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected .table-cell {
    -fx-background-color: cell_selected_unfocused_color;
}

.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected > .text,
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected .table-cell > .text {
    -fx-fill: selected_unfocused_text_color;
}

/* -- when row selection mode */

.table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected {
    -fx-background-color: cell_selected_unfocused_color;
}

.table-row-cell {
    -fx-background-color: table_background_color;
    -fx-background-insets: 0;
}


